# sudo docker compose up --build -d
name: d8x

services:
  # Redis for Pub/Sub between blockchain listener (pub) and liquidators (sub)
  cache:
    image: redis:6.2-alpine
    restart: always
    ports:
      - "127.0.0.1:${REDIS_PORT}:${REDIS_PORT}"
    command: redis-server --save 20 1 --loglevel warning --requirepass ${REDIS_PASSWORD}

  # Listen to block and events, and stream on redis
  # sentinel-bera:
  #   build:
  #     context: .
  #     dockerfile: ./src/sentinel/Dockerfile
  #   depends_on:
  #     - cache
  #   environment:
  #     REDIS_HOST: cache
  #     REDIS_PORT: ${REDIS_PORT}
  #     REDIS_PASSWORD: ${REDIS_PASSWORD}
  #     REDIS_ID: 1
  #     SDK_CONFIG: bera
  #   restart: always
  #   logging:
  #     driver: "json-file"
  #     options:
  #       max-size: "100k"
  #       max-file: "10"

  # sentinel-arbitrum:
  #   build:
  #     context: .
  #     dockerfile: ./src/sentinel/Dockerfile
  #   depends_on:
  #     - cache
  #   environment:
  #     REDIS_HOST: cache
  #     REDIS_PORT: ${REDIS_PORT}
  #     REDIS_PASSWORD: ${REDIS_PASSWORD}
  #     REDIS_ID: 2
  #     SDK_CONFIG: arbitrum
  #   restart: always
  #   logging:
  #     driver: "json-file"
  #     options:
  #       max-size: "100k"
  #       max-file: "10"

  # sentinel-zkevm:
  #   build:
  #     context: .
  #     dockerfile: ./src/sentinel/Dockerfile
  #   depends_on:
  #     - cache
  #   environment:
  #     REDIS_HOST: cache
  #     REDIS_PORT: ${REDIS_PORT}
  #     REDIS_PASSWORD: ${REDIS_PASSWORD}
  #     REDIS_ID: 3
  #     SDK_CONFIG: zkevm
  #   restart: always
  #   logging:
  #     driver: "json-file"
  #     options:
  #       max-size: "100k"
  #       max-file: "10"

  sentinel-base_sepolia:
    image: ghcr.io/d8-x/tsnode-exec-sentinel:dev
    #build:
    #  context: .
    #  dockerfile: ./src/sentinel/Dockerfile
    depends_on:
      - cache
    environment:
      REDIS_HOST: cache
      REDIS_PORT: ${REDIS_PORT}
      REDIS_PASSWORD: ${REDIS_PASSWORD}
      REDIS_ID: 4
      SDK_CONFIG: base_sepolia
    restart: always
    logging:
      driver: "json-file"
      options:
        max-size: "100k"
        max-file: "10"

  # Executor: fetches and distributes executable orders and submits transactions
  # to the blockchain
  # executor-bera:
  #   depends_on:
  #     - cache
  #     - sentinel-bera
  #   build:
  #     context: .
  #     dockerfile: ./src/executor/Dockerfile
  #   environment:
  #     REDIS_HOST: cache
  #     REDIS_PORT: ${REDIS_PORT}
  #     REDIS_PASSWORD: ${REDIS_PASSWORD}
  #     REDIS_ID: 1
  #     SDK_CONFIG: bera
  #     SEED_PHRASE: ${SEED_PHRASE}
  #     SLACK_WEBHOOK_URL: ${SLACK_WEBHOOK_URL}
  #     SERVER_IP: ${PROMETHEUS_SERVER_IP}
  #   restart: always
  #   logging:
  #     driver: "json-file"
  #     options:
  #       max-size: "100k"
  #       max-file: "10"

  # executor-arbitrum:
  #   depends_on:
  #     - cache
  #   build:
  #     context: .
  #     dockerfile: ./src/executor/Dockerfile
  #   environment:
  #     REDIS_HOST: cache
  #     REDIS_PORT: ${REDIS_PORT}
  #     REDIS_PASSWORD: ${REDIS_PASSWORD}
  #     REDIS_ID: 2
  #     SDK_CONFIG: arbitrum
  #     SEED_PHRASE: ${SEED_PHRASE}
  #     SLACK_WEBHOOK_URL: ${SLACK_WEBHOOK_URL}
  #     SERVER_IP: ${PROMETHEUS_SERVER_IP}
  #   restart: always
  #   logging:
  #     driver: "json-file"
  #     options:
  #       max-size: "100k"
  #       max-file: "10"

  # executor-zkevm:
  #   depends_on:
  #     - cache
  #   build:
  #     context: .
  #     dockerfile: ./src/executor/Dockerfile
  #   environment:
  #     REDIS_HOST: cache
  #     REDIS_PORT: ${REDIS_PORT}
  #     REDIS_PASSWORD: ${REDIS_PASSWORD}
  #     REDIS_ID: 3
  #     SDK_CONFIG: zkevm
  #     SEED_PHRASE: ${SEED_PHRASE}
  #     SLACK_WEBHOOK_URL: ${SLACK_WEBHOOK_URL}
  #     SERVER_IP: ${PROMETHEUS_SERVER_IP}
  #   restart: always
  #   logging:
  #     driver: "json-file"
  #     options:
  #       max-size: "100k"
  #       max-file: "10"

  executor-base_sepolia:
    depends_on:
      - cache
    image: ghcr.io/d8-x/tsnode-exec-executor:dev
    #build:
    #  context: .
    #  dockerfile: ./src/executor/Dockerfile
    environment:
      REDIS_HOST: cache
      REDIS_PORT: ${REDIS_PORT}
      REDIS_PASSWORD: ${REDIS_PASSWORD}
      REDIS_ID: 4
      SDK_CONFIG: base_sepolia
      SEED_PHRASE: ${SEED_PHRASE}
      SLACK_WEBHOOK_URL: ${SLACK_WEBHOOK_URL}
      SERVER_IP: ${PROMETHEUS_SERVER_IP}
    restart: always
    logging:
      driver: "json-file"
      options:
        max-size: "100k"
        max-file: "10"

  # Prometheus with alertmanager
  prometheus:
    image: prom/prometheus:latest
    command: [
        "--config.file=/etc/prometheus/prometheus.yml",
        "--storage.tsdb.path=/prometheus",
        "--web.console.libraries=/usr/share/prometheus/console_libraries",
        "--web.console.templates=/usr/share/prometheus/consoles",
        # Enable external label expansion
        "--enable-feature=expand-external-labels",
      ]
    ports:
      - 127.0.0.1:9090:9090
    volumes:
      - prometheus_data:/prometheus
    configs:
      - source: prometheus_yaml
        target: /etc/prometheus/prometheus.yml
      - source: rules_1
        target: /etc/prometheus/rules/executor.rules.yaml
    restart: always
    environment:
      PROMETHEUS_DEPLOYMENT_NAME: ${PROMETHEUS_DEPLOYMENT_NAME}
      PROMETHEUS_SERVER_IP: ${PROMETHEUS_SERVER_IP}
  alertmanager:
    image: prom/alertmanager:latest
    ports:
      - 127.0.0.1:9093:9093
    restart: always
    configs:
      - source: alertmanager_slack_url
        target: /etc/alertmanager/slack_api_url.txt
      - source: alertmanager_yaml
        target: /etc/alertmanager/alertmanager.yml
volumes:
  prometheus_data:
configs:
  prometheus_yaml:
    file: ./prometheus_configs/prometheus.yaml
  alertmanager_slack_url:
    file: ./prometheus_configs/prometheus_alertmanager_slack_url.txt
  alertmanager_yaml:
    file: ./prometheus_configs/prometheus_alertmanager.yaml
  rules_1:
    file: ./prometheus_configs/executor.rules.yaml
